<% if @post.thumbnail.attached? %>
<div>
  <%= image_tag @post.thumbnail.variant(resize: '100x100').processed %>
</div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if @post.images.attached? %>
<ul>
  <% @post.images.each do |image| %>
  <li><%= image_tag image.variant(resize: '200x200').processed %></li>
  <% end %>
</ul>
<% end %>

<p>
<% if @liked %>
  <%= link_to '<i class="icon-heart"></i>'.html_safe, post_like_path(@post, @liked.id), method: :delete %>
  <%= @post.likes.size %>
<% else %>
  <%= link_to '<i class="icon-heart-empty"></i>'.html_safe, post_likes_path(@post), method: :post %>
  <%= @post.likes.size %>
<% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %>

<h3>Comentarios</h3>

<% if @post.comments.any? %>
<ul>

  <% @post.comments.each do |comment| %>
  <li>
  <strong><%= comment.user.name %>: </strong>
  <%= comment.content %>
  </li>
  <% end %>

</ul>
<% end %>

<%= render 'comments/form', comment: @comment %>